<div class="table-responsive">
<table class="table table-bordered table-striped">
    <tr>
        <th style="width:25%">Article Info</th>
        <th style="width:50%">Description</th>
        <th style="width:25%">Action</th>
    </tr>
    <% if (obj) %>
    <% obj.each do |article| %>
    <tr>
        <td>
            Title : <%= link_to article.title,article_path(article.id) %><br/>
            Created by : <a href="<%= user_path(article.user.id) %>"><span style="color:#337ab7"><%= article.user.username %></span></a><br/>
            Published : <%= time_ago_in_words(article.user.created_at) %> ago<br/>
            Last updated : <%= time_ago_in_words(article.user.updated_at) %> ago<br/>
        </td>
        <td><%= truncate(article.description,length:200) %></td>
        <td align="center" style="vertical-align:middle">
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>    
            <%= link_to 'Show',article_path(article.id),class:'btn btn-sm btn-danger right-spacing' %> 
            <%= link_to 'Edit',edit_article_path(article.id),class:'btn btn-sm btn-danger right-spacing' %> 
            <%= link_to 'Delete',article_path(article.id),method: :delete,data: {confirm: "Are you sure?"},class:'btn btn-sm btn-danger right-spacing' %>
        <% else %>
            You don't have privilege to edit this artilce
        <% end %>
        </td>
    </tr>
    <% end %>
    <% else %>
    <tr><td colspan="3" align="center">There is no articles</td></tr>    
    <% end %>
</table>
</div>