<%= form_for @user do |f| %>
    <div class="form-group">
        <%= f.label :username %><br/>
        <%= f.text_field :username,class:"form-control",placeholder:"Your username" %>
    </div>
    <div class="form-group">
        <%= f.label :email %><br/>
        <%= f.email_field :email,class:"form-control",placeholder:"Your email" %>
    </div>
    <div class="form-group">
        <%= f.label :password %><br/>
        <%= f.password_field :password,class:"form-control",placeholder:"Your password" %>
    </div>
    <div class="form-group">
        <%= f.submit(@user.new_record? ? "Sign up" : "Update", class:'btn btn-md btn-primary') %>
    </div>
<% end %>